* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul > li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

:root {
  --color-black: #181a1c;
  --color-yellow: #fece1a;
  --color-white: #fff;
  --color-red: tomato;
  --swiper-theme-color: #fff;
}
